<!--
 * HNoteBook
 * 版本: V1.0.0
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="notebook.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<style>
			@font-face {
			  font-family: FF;
			  src: url(https://cdn.jsdelivr.net/gh/justfont/open-huninn-font@master/font/jf-openhuninn-1.0.ttf);
			}
			#app {
				font-family: FF, serif;
			}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hsuan 線上記事本</title>
	</head>

	<body>
		<div id="app">
			<el-dialog title="警告" :visible.sync="notSupport" width="30%">
				<span>我們並不支援您的瀏覽器</span>
				<span slot="footer" class="dialog-footer">
					<el-button type="primary">OK</el-button>
				</span>
			</el-dialog>
			<el-container>
				<el-header style="background-color: #EBEEF5;border-radius: 5px;">
					<div style="position:relative;top:0;bottom:0;left:0;right:0;">Hsuan 線上記事本</div>
				</el-header>
				&nbsp;
				<el-container>
					<el-main style="background-color: #409EFF;">
						<el-button icon="el-icon-plus" type="success" @click="newNote()">新增</el-button>
						<el-collapse v-model="activeNames">
							<div v-for="(n,i) in notes">
								<el-form>
									<el-collapse-item :title="n.name + ' | ' + n.time" :name="i">
										<el-form :inline="true"  label="標題">
											<el-input type="text" v-model="notes[i]['name']"></el-input>
										</el-form>
										<el-form-item label="內容">
											<el-input type="textarea" v-model="notes[i]['data']"></el-input>
										</el-form-item>
										<el-button icon="el-icon-check" type="success" @click="saveAll()">儲存</el-button>
										&nbsp;
										<el-button type="danger" icon="el-icon-delete" @click="rmNote(i)">刪除</el-button>
									</el-collapse-item>
								</el-form>
							</div>
						</el-collapse>
					</el-main>
				</el-container>
			</el-container>

		</div>
	</body>

	<script>
		var $nb = new HNoteBook()
		var NoteBookApp = new Vue({
			el: "#app",
			data: {
				notes: [],
				notSupport: false,
				activeNames: []
			},
			created: function() {

			},
			methods: {
				saveAll() {
					$nb.saveAll()
					this.$message({
						type: 'success',
						message: '儲存成功!'
					});
				},
				newNote(){
					this.notes.push({
						name: "未命名的記事本",
						time: new Date().toLocaleString()
					})
					this.$message({
						type: 'success',
						message: '新增成功!'
					});
				},
				rmNote(i) {
					this.$confirm('刪除後無法復原，確定繼續?', 'Warning', {
						confirmButtonText: '對的!',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						this.$delete(this.notes,i)
						this.$message({
							type: 'success',
							message: '刪除成功!'
						});
						$nb.saveAll()
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '取消刪除'
						});
					});
				}
			}
		})
		$(document).ready(function() {
			$nb.getData()
		})
	</script>
</html>
